#events {
	.event-title {
		padding-top: 1.25em;
		padding-bottom: 1.1em;
		text-align: center;
		color: white;
		i {
			font-size: 2em;
			line-height: 0;
		}
	}

	background: #1E59A9;

	height: auto;

	// min-height: 100%;
	margin-top: 0.125em;
	padding-bottom: 20px;
	.panel {
		margin: 0.25rem;
		min-height: 100px;
		border: none;
		background: white;
	}
	.button {
		background-color: #00A652;
		margin-left: 0.25em;
		margin-bottom: 0;
	}
	.event-description {
		line-height: 1.1em;
		padding-bottom: 0.5em;
	}
	.event-date {
		i {
			font-size: 1.2em;
		}
		font-weight: bold;
	}
}
@media only screen and (min-width: 40.063em) {
	#events {
		background-color: white;
		padding-bottom: 0;
		margin-top: 5px;

		// min-height: 100%;
		// height: 600px;
		background: #1E59A9;
		.upcoming-events {
			color: white;
		}
		.event-left {
			background: #1E59A9;
		}
		.event-pic {
			height: 450px;
			color: white;
			border-left: 5px solid white;
			background: {
				image: url('../images/events.jpg');
				repeat: no-repeat;
				position: top left;
			}
			@include background-size(cover);
			.join-us {
				padding-top: 340px;
				bottom: 2em;
				.join-small{
					font-size: 1.5em;
				}
				.join-larger{
					font-size: 3em;
				}
				padding-bottom: 10px;
			}
		}
	}
}
