<div id="intro">
	<div class="tagline">
		Bringing together techies, enthusiasts, learners and proffesionals
	</div>
	<div class="motto">
		<span class="blue">connect. </span>
		<span class="white">innovate. </span>
		<span class="green">inspire. </span>
	</div>
	<span class="register">
		Become a member
	</span>

</div>
<div id="events" >
	<div class="medium-4 columns">

		<div class="upcoming-events">
			<div class="event-title">
				<i class="fi-calendar"></i> <span class="topic">Upcoming Events</span>
			</div>
			<div class="event-list">
				<div class="event">
					<p class="title">Making an Android app from scratch in android studio</p>
					<p class="scheduled-for">19th June 1200-1330hrs</p>
				</div>
				<div class="event">
					<p class="title">Yet another Android app from scratch in android studio</p>
					<p class="scheduled-for">19th June 1200-1330hrs</p>
				</div>
				<div class="event">
					<p class="title">Web4schools Jacaranda Launch</p>
					<p class="scheduled-for">19th June 1200-1330hrs</p>
				</div>
			</div>

		</div>
	</div>
</div>
<div id="twitter">
</div>
<footer>
	<div class="connect">
		<i class="fi-social-facebook"></i>
		<i class="fi-social-twitter"></i>
		<i class="fi-social-github"></i>
		<i class="fi-social-linkedin"></i>
		<i class="fi-social-reddit"></i>
		<i class="fi-social-instagram"></i>
	</div>
	<div class="copyright">
		&#169  2015 <a href="http://www.lakehub.co.ke">LakeHub</a>
	</div>
</footer>
