@import url(https://fonts.googleapis.com/css?family=Orbitron:900|Ubuntu:400,700|Play:400,700|Pacifico);
$orbitron: 'Orbitron', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$pacifico: 'Pacifico', cursive;
$play: 'Play', sans-serif;
