footer {
	background-color: #333;
	color: #fff;

	// text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	clear: both;
	a {
		color: #fff;
	}
	i {
		padding-right: 0.35em;
		padding-bottom: 0.4em;
	}
	.connect, .copyright {
		text-align: center;
	}
}
