#intro {
	height: 100%;
	background: {
		image: url('../images/introbg-m.jpg');
		repeat: no-repeat;
		position: top left;
	}
	@include background-size(cover);
	display: table;
	position: relative;
	overflow: hidden;
	width: 100%;
	color: white;
	.centered-words {
		display: table-cell !important;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		padding-top: 2em;
		p{
			padding: 0 5px;
		}
	}
	.motto {
		font-size: 2em;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 20px;
		.blue {
			color: #27a9e1;
		}
		.green {
			color: #8CC63E;
		}
	}
	a {
		.add-member {
			padding: 4em 0;
			color: #00A652;
			text-decoration: underline;
			i {
				font-size: 3em;
				line-height: 0;
			}
		}
	}
}

// Medium screens
@media only screen and (min-width: 40.063em) {
	#intro {
		text-align: center;
		padding-left: 4em;
		margin-top: -4px;
		padding-bottom: 4em;
		background: {
			image: url('../images/intro.jpg');
		};
		.worded{
			position: absolute;
			bottom: 4em;
		}
		.centered-words{
			display: none !important;
		}

		.tagline {
			font-size: 1.8em;
			// padding-top: 30%;
			padding-bottom: 1.6em;
			padding-right: 2em;
		}
		.register {
			text-transform: uppercase;
			.button{
					border: 1px solid #27A9E1;
				&:hover{
					color:#27A9E1; 
					background-color: transparent;
					border: 1px solid #27A9E1;
				}
			}
		}
	}
}
